@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 body{
  font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
 }
 body::-webkit-scrollbar{
   width: 7px;
   background-color: rgb(142, 142, 142);
 }
 body::-webkit-scrollbar-thumb{
   background-color: #1d1d1f;
   
 }
 body::-webkit-scrollbar-track{
  width: 10px;
 }

